.user-list {
  max-width: 300px;
  margin: 50px auto;
  padding-left: 10px;
}

.user-list-item {
  display: flex;
  justify-content: flex-start; /* Mantiene el índice a la izquierda */
  align-items: flex-start;     /* Alinea los detalles del usuario en la parte superior */
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-index {
  margin-right: 15px; /* Alinea el número a la izquierda */
  font-weight: bold;
}

.user-details {
  flex: 1; /* Ocupa el espacio restante para alinear el texto */
}

.user-name, .user-email {
  display: block;
  font-size: 16px;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-email {
  font-size: 14px; /* Hace el correo un poco más pequeño */
  color: #666;     /* Cambia el color para diferenciarlo del nombre */
}

.add-user-btn {
  display: inline-block;
  background-color: #3589dc;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.add-user-btn:hover {
  background-color: #119f9f;
}
